* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8F1FF;
}

.message {
    width: 90vw;
    padding: 20px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #5E5E5E20;
    border-radius: 1rem;
}

.text {
    text-align: center;
    padding: 50px 10px;
    cursor: default;
    color: #9b5eeb;
    
}

.Option {
    margin: 5px;
    padding: 15px 30px;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ;
    background-color: #F6AA1C;
    color: #F8F1FF;
    font-weight: 700;
    letter-spacing: 0.6px;
    font-size: large;
}

.Option:hover {
    transform: scale(1.1);
    background-color: #412d0a;
    color: #48E5C2;
}

